/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 65px;
    max-height: 35px;   
}

.header #logo img {
    width: 150px;
}

.tab-name {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    
    cursor: pointer;
    text-decoration: none;
}

.tab-name::after {
    content:'';
    width: 0%;
    height: 3px;
    background-color: #E16170;
    position: absolute;
    bottom: -5px;
}

.tab-name:hover{
    font-weight: 600;
}

.tab-name:hover::after {
    content:'';
    width: 100%;
    height: 3px;
    background-color: #E16170;
    position: absolute;
    bottom: -5px;
    transition: 0.5s;
}

.header #gallery {
    display: flex;
    background-color: #44B0B0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    background-color: #44B0B0;
    border-radius: 10px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.header #gallery:hover {
    background-color: #F0CD52;
    color: black;
}

/* BANNER */
img.about-me-banner {
    margin-left: 50px;
    width: 1150px;
}

/* ABOUT ME */

#about-me{
    display: flex;
    align-items: flex-start;
    padding: 30px 0px 50px 65px;
}

/* Left Side */
.about-me-left{
    display: flex;
    flex-direction: column;
    padding-right: 75px;
}

.about-me-left #text {
    font-family: 'Bakbak One', sans-serif;
    font-size: 28px;
    margin: 0px;
}

.download-cv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 5px 12px;
    border: 1.5px solid black;
    border-radius: 50px;
    background: black;
}

.download-cv #logo img{
    width: 10px;
}

.download-cv #text {
    padding-left: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    color:white;
}

/* Right Side */

.about-me-right {
    display: flex;
    flex-direction: column;
    width: 918px;
}

.about-me-section{
    padding-left: 25px;
    border-left: 3px solid #44B0B0;
}

.section-title{
    font-family: 'Bakbak One', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 6px;   
}

.subsection-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    font-family: 'Bakbak One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#125C5C;
}

#nama {
    display: flex;
    margin: 0px;
    min-width: 600px;
}

#tahun {
    margin: 0px;
    padding-left: 100px;
}

.section-desc {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    font-weight: 600;
    margin: 5px 0px;
    color: black;
}

.section-desc span{
    font-weight: 800;
}

ul#text {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    padding-left: 15px;
}

span {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 800;   
}

li.li-himsisfo {
    margin: 5px 0px 0px 0px;
}

.foto-skill img{
    height: 30px;
    margin-top: 5px;
}